---
const { product } = Astro.props
---

<div
	class="search-card p-4 bg-[#F7F7F7] flex flex-col gap-4 text-sm cursor-pointer duration-150 hover:brightness-95">
	<img
		src={product.images[0]}
		class="aspect-4/3 object-contain"
		alt={product.title}
	/>
	<h3>{product.title}</h3>
	<p class="mt-auto">${product.price}</p>
</div>
